In [2]:
import math
import matplotlib.pyplot as plt
import numpy as np
from pandas_datareader import data
apple = data.DataReader('AAPL', 'yahoo',start='1/1/2021')
apple.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-01-04,133.610001,126.760002,133.520004,129.410004,143301900,129.410004
2021-01-05,131.740005,128.429993,128.889999,131.009995,97664900,131.009995
2021-01-06,131.050003,126.379997,127.720001,126.599998,155088000,126.599998
2021-01-07,131.630005,127.860001,128.360001,130.919998,109578200,130.919998
2021-01-08,132.630005,130.229996,132.429993,132.050003,104965400,132.050003

In [ ]:
# Simulate future stock price outcomes